form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 700px;
    margin: auto;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;

    &:focus {
        border-color: #007bff;
        outline: none;
    }
}